body {
    padding: 0;
    margin: 0;
    font-family: Bebas Neue Regular;
    display: flex;
    letter-spacing: 0.1vw;
}

.menu {
    transition: 0.3s;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(8,35,117, 0.95);
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.cube-wrapper {
    -moz-perspective: 1000px;
    position: absolute;
    top: 30%;
    right: 10vw;
}

.cube-container {
    position: relative;
    width: 200px;
    height: 200px;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    transition: 0.3s all;
    transform: rotate3d(0, 1, 0, 25deg);
}

.cube-side {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0, 0.9);
    color: white;
    font-size: 3em;
    padding: 1vw;
    padding-left: 1.3vw; padding-right: 1.3vw;
    box-sizing: border-box;
    -moz-transform-origin: 50% 50% -100px;
    -moz-backface-visibility: hidden;
}

.cube-side:nth-child(2) {
    -moz-transform: rotateY(90deg);
}

.cube-side:nth-child(3) {
    -moz-transform: rotateY(-90deg);
}

.cube-side:nth-child(4) {
    -moz-transform: rotateX(90deg);
}

.cube-side:nth-child(5) {
    -moz-transform: rotateX(-90deg);
}

.cube-side:nth-child(6) {
    -moz-transform: rotateY(180deg);
}

/*_____Classes for cube rotate_____*/
.rotateX120 {
    -moz-transform: rotateY(90deg);
}

.rotateX90 {

}

.rotateX60 {

}

.rotateX30 {

}



.rotateY {

}

.rotateY {

}

.rotateY {

}

.rotateY {

}
/*_____-_____*/





.changeWidth {
    width: 100%;
}

.navbar {
    position: absolute;
    top: 30%;
    left: 12.3vw;
}

.navbar li {
    list-style: none;
    color: white;
    font-size: 2vw;
    letter-spacing: 0.07em;
    margin: 0.5vw;
}

.navbar li:nth-child(1) {
    margin-left: -1.3em;
}

.navbar li:nth-child(2) {
    margin-left: -0.8em;
}

.navbar li:nth-child(3) {
    margin-left: -0.3em;
}

.leftbar {
    width: 25%;
    height: 100vh;
    text-align: center;
    padding: 3vw;
    box-sizing: border-box;
}

.leftbar-title {
    display: block;
    font-size: 4.5vw;
    color: #c1c1c1;
    transform: translateY(10vw);
}

.content {
    width: 75%;
    height: 100vh;
    color: white;
}

.focused-content {
    width: 100%;
    height: 70vh;
    background-image: url('cities-nyc_optimized.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fc-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    padding-top: 2.5vw;
    padding-left: 4.8vw;
    box-sizing: border-box;
    position: relative;
}

.fcc-title {
    display: block;
    font-size: 8vw;
    letter-spacing: 0.5vw;
}

.fcc-info {
    display: block;
    font-size: 1.2vw;
    position: absolute;
    right: 3vw;
    bottom: 4.5vw;
    letter-spacing: 0.1vw;
    word-spacing: 0.2vw;
}

.content-line {
    width: 100%;
    height: 30vh;
    background-color: rgba(0,0,0, 0.97);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.project-app {
    width: 12vw;
    height: 12vw;
    background-color: black;
    margin: 1vw;
    padding: 1vw;
    padding-left: 1.3vw; padding-right: 1.3vw;
    box-sizing: border-box;
    font-size: 1.8vw;
}





/*---Burger button---*/
.super-button {
    position: relative;
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
}

.burger-line,
.burger-line::before,
.burger-line::after {
    position: absolute;
    top: 50%; margin-top: -0.15vw;
    left: 50%; margin-left: -1.4vw;
    width: 2.8vw;
    height: 0.3vw;
    background-color: #c1c1c1;
    transition: 0.3s;
}

.burger-line::before, 
.burger-line::after {
    content: '';
}

.burger-line::before {
    transform: translateY(-0.8vw);
}

.burger-line::after {
    transform: translateY(0.8vw);
}

/*class for adding*/
.burger-act , .burger-act::before , .burger-act::after {
    background-color: white;
}

.burger-act , .burger-act::before {
    transform: rotate(-90deg);
}

.burger-act::before , .burger-act::after {
    transform: translateY(0);
}

.burger-act::after {
    transform: rotate(90deg);
}

.rotate {
    transform: rotate(45deg);
}
/*/*/
/*---/Burger button/---*/